body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: center;
}

.menu {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
}

.menu a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}
