body {
    background-color: #f5f5dc; /* bej arka plan */
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #800020; /* bordo */
    padding: 15px;
}

.menu a {
    color: black; /* yazılar siyah */
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}
