<!DOCTYPE html>
<html>
<head>
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="menu">
    <a href="/">Anasayfa</a>
    <a href="/hakkimda">Hakkımda</a>
    <a href="/iletisim">İletişim</a>
</div>

<h1>Hakkımda</h1>

<p>
Ben yazılım öğrenmeye yeni başlayan ve kendini bu alanda geliştirmek isteyen bir öğrenciyim.
Özellikle Python ve web teknolojileri ile projeler yapıyorum.
</p>

<h2>Eğitim Bilgilerim</h2>
<ul>
    <li>Okul: Uludağ Üniversitesi</li>
    <li>Bölüm: Makine Mühendisliği</li>
</ul>

<h2>Yeteneklerim</h2>
<ul>
    <li>Python(Flask ile web uygulaması geliştirme)</li>
    <li>HTML</li>
    <li>Temel CSS</li>
    <li>GitHub(Versiyon kontrol)</li>
    <li>Render(deploy&hosting)</li>
</ul>

<h2>Hedeflerim</h2>
<p>
Yazılım alanında kendimi geliştirerek daha büyük projeler yapmak ve bu alanda kariyer oluşturmak istiyorum.
Bu site de yaptığım çalışmaların bir parçasıdır.
</p>

<footer>
    <p>© 2026 Betül - Kişisel Web Sitesi</p>
</footer>


</body>
</html>