<!DOCTYPE html>
<html>
<head>
    <title>Hakkımda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="menu">
  <a href="/">Ana Sayfa</a>
  <a href="/hakkimda">Hakkımda</a>
  <a href="/iletisim">İletişim</a>
</div>

<div class="container">
  <h1>Hakkımda</h1>
  <p>Ben Betül.Mühendislik öğrencisiyim.Hedefim bu siteyi mühendislik alanında teorik bilgilerle dolu bir site haline getirmek.</p>
</div>

</body>
</html>
