<!DOCTYPE html>
<html>
<head>
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="menu">
    <a href="/">Anasayfa</a>
    <a href="/hakkimda">Hakkımda</a>
    <a href="/iletisim">İletişim</a>
</div>

<h1>İletişim</h1>

<p>
Benimle aşağıdaki e-posta adresi üzerinden iletişime geçebilirsiniz:
</p>

<p>
📧 <a href="mailto:betul4086@gmail.com">betul4086@gmail.com</a>
</p>

<h2>Sosyal Medya</h2>
<ul>
    <li>GitHub: github.com/Bet-eng</li>
    <li>LinkedIn: linkedin.com/in/betül-bal-b46920348 </li>
</ul>

<footer>
    <p>© 2026 Betül - Kişisel Web Sitesi</p>
</footer>


</body>
</html>